################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CepRegistrationConsole
/CepRegistrationConsole/obj
/CepRegistrationConsole/bin/Debug/net8.0
