## Visual Studio
/.vs/

## Build results
[Cc]ompi/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS files
.DS_Store
Thumbs.db

## IDE
.idea/
*.swp
*~
